{% extends 'layouts/base.html' %}
{% block title %}Privacy Policy{% endblock  %}
{% block content %}
    {{ form.media }}
    <div class="col-xl-8 order-xl-1">
        <br>
        <form method="POST">
            {% csrf_token %}
            <label class="form-control-label" >Terms and Condition:</label>
            {{form.terms_and_condition}}

            <label class="form-control-label" >Privacy Policy:</label>
            {{form.privacy_policy}}
           <center>
            <button class="btn btn-sm btn-primary" type='submit' value='submit' >Submit</button>
           </center><br>
        </form>
    </div>
{% endblock %}
