{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">List of all customers</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col"class="sort" data-sort="status">Profile Image</th>
                  <th scope="col" class="sort" data-sort="name">Username</th>
                  <th scope="col" class="sort" data-sort="name">First Name</th>
                  <th scope="col" class="sort" data-sort="budget">Last Name</th>
                  <th scope="col" class="sort" data-sort="status">Email</th>                  
                  <th scope="col" class="sort" data-sort="completion">Conatct No</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for customer in customers %}
                
                <tr>
                  <td>
                    <div class="avatar-group">
                        <img class="avatar avatar-sm rounded-circle" src="{{ customer.profile_image.url }}" alt="{{ customer.first_name }}">

                    </div>
                  </td>
                    <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{customer.username}}</span>
                          </div>
                        </div>
                      </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{customer.first_name}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {{customer.last_name}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>
                      <span class="status">{{customer.email}}</span>
                    </span>
                  </td>
                 
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2">{{customer.contact_no}}</span>
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'update_customer' id=customer.id %}">Update customer</a>
                        <a class="dropdown-item" href="{% url 'delete_customer' id=customer.id %}">Delete customer</a>
            
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
