{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  
  <script>
     $(document).ready(function () {
        // Retrieve the selected state from the URL query string
        var selectedArea = getQueryStringValue('area');
    
        $('#dtBasicExample').DataTable({
            lengthChange: true,
            searching: true,
            paging: true,
            columnDefs: [
                { searchable: false, targets: 0 }
            ],
            order: [[0, "desc"]],
        });
    // Function to retrieve query string parameter value
    function getQueryStringValue(key) {
      var urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(key);
  }
});
        
   
  </script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

  
{% endblock head %}

{% block title %} Commission Management {% endblock title %}

{% block content %}
<style>
 
.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.messages li {
  display: block;
  margin: 10px 0;
  padding: 15px;
  border-radius: 3px;
}

/* Message types */
.messages li.success {
  background-color: #d4edda;
  color: #155724;
}

.messages li.warning {
  background-color: #fff3cd;
  color: #856404;
}

.messages li.error {
  background-color: #f8d7da;
  color: #721c24;
}

</style>

<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"></h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <div class="col-lg-6 col-5 text-right">
                <a href="{% url 'add_notification_customer' %}" class="btn btn-sm btn-neutral">Add User Notification</a>
              </div>
            </nav>
            
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'add_notification_client' %}" class="btn btn-sm btn-neutral">Add Client Notification</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  
  
  

 

<body id="search-results">
    
   <section class="container-fluid mt-3">
      <div class="container page-header">
        <h3 class="mb-0">Client Notification History</h3><br>
      </div>
     
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <div class="list-products">
        <table cellpadding="15px" id="dtBasicExample" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col"class="sort" data-sort="status">Title</th>
                    <th scope="col"class="sort" data-sort="status">Message</th>
                    <th scope="col"class="sort" data-sort="status">send Date</th>
                   



                    
                  </tr>
                </thead>
           
                <tbody class="list">
                    {% for notification in client_notifications %}
                    
                    <tr>
                     
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{notification.title}}</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{notification.message}}</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{notification.created_at}} </span>
                          </div>
                        </div>
                      </th>
                      
                      

                    </tr>
                    {% endfor %}
            </tbody>
         </table>
      </div>
   </section>

    
  <section class="container-fluid mt-3">
     <div class="container page-header">
       <h3 class="mb-0">User Notification History</h3><br>
     </div>
    
     {% if messages %}
     <ul class="messages">
         {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
     {% endif %}

     <div class="list-products">
       <table cellpadding="15px" id="dtBasicExample" class="table table-striped table-bordered">
           <thead>
               <tr>
                   <th scope="col"class="sort" data-sort="status">Title</th>
                   <th scope="col"class="sort" data-sort="status">Message</th>
                   <th scope="col"class="sort" data-sort="status">send Date</th>
                  



                   
                 </tr>
               </thead>
          
               <tbody class="list">
                   {% for notification in customer_notifications %}
                   
                   <tr>
                    
                     <th scope="row">
                       <div class="media align-items-center">
                         <div class="media-body">
                           <span class="name mb-0 text-sm">{{notification.title}}</span>
                         </div>
                       </div>
                     </th>
                     <th scope="row">
                       <div class="media align-items-center">
                         <div class="media-body">
                           <span class="name mb-0 text-sm">{{notification.message}}</span>
                         </div>
                       </div>
                     </th>
                     <th scope="row">
                       <div class="media align-items-center">
                         <div class="media-body">
                           <span class="name mb-0 text-sm">{{notification.created_at}} </span>
                         </div>
                       </div>
                     </th>
                   </tr>
                   {% endfor %}
           </tbody>
        </table>
     </div>
  </section>
</body>



{% endblock content %} 



{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static 'assets/js/datatables.min.js'%}"> </script>
<script>
    // owner_filter.js

$(document).ready(function () {
    // Retrieve the selected owner from the URL query string
    var selectedOwner = getQueryStringValue('owner');
  
    // Set the selected owner in the dropdown
    $('#owner-select').val(selectedOwner);
  
    // Handle owner filter
    $('#owner-select').on('change', function () {
      var selectedOwner = $(this).val();
      var url = '{% url "list_notification" %}';
      if (selectedOwner) {
        url += '?owner=' + selectedOwner;
      } else {
        url += '?owner=';
      }
      window.location.href = url;
    });
  
    // Function to retrieve query string parameter value
    function getQueryStringValue(key) {
      var urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(key);
    }
  });
  
</script>


<!-- ... -->

{% endblock javascripts %}