{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<!-- Page content -->
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">User Management</h3>
            </div>
           
          </div>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if msg %}
                <p class="text-danger"> *{{msg}} </p>
              {% endif %}
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
                <div class="row">
                
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >First name</label>
                      <input type="text" class="form-control" placeholder="First name" name="first_name" value="{{customer.first_name}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >Last name</label>
                      <input type="text" class="form-control" placeholder="Last name" name="last_name" value="{{customer.last_name}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >Email address</label>
                      <input type="email" class="form-control" placeholder="Email" name="email" value="{{customer.email}}">
                    </div>
                  </div>
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Profile Image</label>
                      <input type="file" class="form-control" placeholder="Profile Image" name="profile_image" value="{{customer.profile_image}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >contact_no</label>
                      <input type="text" class="form-control" placeholder="Contact No" name="contact_no" value="{{customer.contact_no}}">
                    </div>
                  </div>
                
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >Status</label>
                      <select id="input-status" name="status" class="form-control" style="height: 3rem;" value="{{customer.status}}">
                        <option value="active">Active</option>
                        <option value="deactive">Deactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">State*</label>
                      <select name="state" class="form-control" style="height: 3rem;" disabled>
                          {% for state in states %}
                          <option value="{{ state.id }}" {% if state.id == customer.area.city.state.id %}selected{% endif %}>
                            {{ state.name }}</option>
                          {% endfor %}
                        
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6"> 
                    <div class="form-group">
                      <label class="form-control-label">City*</label>
                      <select name="city" class="form-control" style="height: 3rem;" disabled>
                          {% for city in cities %}
                          <option value="{{ city.id }}" {% if city.id == customer.area.city.id %}selected{% endif %}>
                            {{ city.name }}</option>
                          {% endfor %}
                        
                      </select>
                    </div>
                  </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Area*</label>
                        <select name="area" class="form-control" style="height: 3rem;" disabled>
                            {% for area in areas %}
                              <option value="{{ area.id }}"{% if area.id == area_id.id %}selected{% endif %}>
                                {{ area.name }}</option>
                            {% endfor %}
                          
                        </select>
                      </div>
                    </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Update</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

 

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
