{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
 
  .messages {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .messages li {
    display: block;
    margin: 10px 0;
    padding: 15px;
    border-radius: 3px;
  }
  
  /* Message types */
  .messages li.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .messages li.warning {
    background-color: #fff3cd;
    color: #856404;
  }
  
  .messages li.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  </style>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent">
              <div class="text-muted text-center mt-2 mb-3">
                Sign IN
               
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                  
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>

              <form method="POST">

                {% csrf_token %}

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{ form.email }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password }}
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              <div class="text-c">
                  
                    <a href="#"><small>Forgot Your Password?</small></a><br>
                                    
                 </div> 

              </form>
            </div>
          </div>
        </div> 
      </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
